@page "/generator-server"
@rendermode InteractiveAuto


<p>
    <label > Input 1</label>
    <input @bind="InputValue" @bind:event="oninput" @onchange="Calculate"/>
    <label> Input 2</label>
    <input @bind="InputValue2" @bind:event="oninput" @onchange="Calculate"/>
    <label> Input 3</label>
    <input @bind="InputValue3" @bind:event="oninput" @onchange="Calculate"/>
</p>

<p>
    <code>InputValue</code>: @InputValue
</p>

<p>
    <code>OutputValue</code>: @TotalValue
</p>

@code {
    private string? InputValue { get; set; }
    private string? InputValue2 { get;  set; }
    private string? InputValue3 { get;  set; }
    private decimal? TotalValue { get; set; }

    private void Calculate()
    {
        TotalValue = Convert.ToDecimal(InputValue) + Convert.ToDecimal(InputValue2) + Convert.ToDecimal(InputValue3); 

        
    }
}